@import "../../static/style/base";

.header {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-brand {
    width: 120px;
  }
  .nav-link.dropdown-toggle {
    color: @color-base;
  }
  .dropdown-menu {
    min-width: 4rem;
    text-align: center;
  }
}
