@import "../../static/style/base";

.header {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-index_name {
    position: relative;
    .badge-pill {
      position: absolute;
      top: 0.6rem;
      right: 0.6rem;
      width: 8px;
      height: 8px;
      padding: 0;
      display: block;
    }
  }
  .home-index_message{
    span{
      display: inline-block;
      vertical-align: middle;
    }
  }
  .navbar-brand {
    width: 120px;
  }
  .nav-link.dropdown-toggle {
    color: @color-base;
  }
  .dropdown-menu {
    min-width: 4rem;
    text-align: center;
  }
}
