name: GitHub Actions Try Step

on: 
  push:
    tags:
      - v*

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@master
    
    - name: Echo Step
      run: echo Start build
      
    - name: Build
      run: npm install && npm run build

    - name: Echo Step
      run: echo build end and start deploy
      
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v2.5.0
      env:
        ACTIONS_DEPLOY_KEY: ${{ secrets.Deploy_Action }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: ./build

    - name: Finish
      run: echo deploy finish